<a href="https://colab.research.google.com/github/shahzarhusain/airbnb_booking_anlysis/blob/main/Airbnb_booking_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#importing the database
df = pd.read_csv('/Airbnb NYC 2019.csv')

Basic data exploration

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787.0,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0
1,2595,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632.0,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaN,NaN,1.0,365.0
3,3831,Cozy Entire Floor of Brownstone,4869.0,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192.0,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43427 entries, 0 to 43426
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              43427 non-null  int64
 1   name                            43411 non-null  object
 2   host_id                         43426 non-null  float64
 3   host_name                       43405 non-null  object
 4   neighbourhood_group             43426 non-null  object
 5   neighbourhood                   43426 non-null  object
 6   latitude                        43426 non-null  float64
 7   longitude                       43426 non-null  float64
 8   room_type                       43426 non-null  object
 9   price                           43426 non-null  float64
 10  minimum_nights                  43426 non-null  float64
 11  number_of_reviews               43426 non-null  float64
 12  last_review                     36053 non-null  object
 13  reviews_per_month               36053 non-null  float64
 14  calculated_host_listings_count  43426 non-null  float64
 15  availability_365                43426 non-null  float64
dtypes: float64(9), int64(1), object(6)
memory usage: 5.3+ MB

In [6]:
# checking for null values in the database
df.isnull().sum()

id                                   0
name                                16
host_id                              1
host_name                           22
neighbourhood_group                  1
neighbourhood                        1
latitude                             1
longitude                            1
room_type                            1
price                                1
minimum_nights                       1
number_of_reviews                    1
last_review                       7374
reviews_per_month                 7374
calculated_host_listings_count       1
availability_365                     1
dtype: int64

In [8]:
df.isnull().sum()/len(df)*100

id                                 0.000000
name                               0.036843
host_id                            0.002303
host_name                          0.050660
neighbourhood_group                0.002303
neighbourhood                      0.002303
latitude                           0.002303
longitude                          0.002303
room_type                          0.002303
price                              0.002303
minimum_nights                     0.002303
number_of_reviews                  0.002303
last_review                       16.980220
reviews_per_month                 16.980220
calculated_host_listings_count     0.002303
availability_365                   0.002303
dtype: float64

In [9]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.342700e+04,4.342600e+04,43426.000000,43426.000000,43426.000000,43426.000000,43426.000000,36053.000000,43426.000000,43426.000000
mean,1.699204e+07,5.707059e+07,40.728723,-73.952508,149.571777,7.026136,25.957951,1.281800,6.312762,106.566159
std,9.953051e+06,6.782592e+07,0.054399,0.045207,237.780407,20.968537,46.572629,1.624674,28.468985,130.337427
min,2.539000e+03,2.438000e+03,40.499790,-74.242850,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,8.369551e+06,6.948271e+06,40.689600,-73.982680,69.000000,1.000000,1.000000,0.170000,1.000000,0.000000
50%,1.745693e+07,2.591267e+07,40.722470,-73.955650,105.000000,3.000000,7.000000,0.610000,1.000000,32.000000
75%,2.553793e+07,8.414183e+07,40.763220,-73.937170,175.000000,5.000000,28.000000,1.900000,2.000000,213.000000
max,3.365078e+07,2.575691e+08,40.911690,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [10]:
# we can see id, host_id, lattitude and longitude are also included while descrbing the database as these are saved in numeric format. 
# Points to explore further is listings where price equals to zero